<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="alarm-clock" class="is-inverse"></clr-icon>
        <span class="title">{{title}}</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a href="..." clrDropdownItem>About</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <nav class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Pomodoro</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Analytics</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div class="row page">
        <app-pomodoro></app-pomodoro>
      </div>
    </div>
  </div>
</clr-main-container>

