div.pomodoro {
  width: 30rem;
  padding-top: 24px;

  div.timer {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    margin: 0 auto;

    h1 {
      margin: 0;
      line-height: 20rem;
    }
  }

  div.single-task-form {
    padding: 2rem 0;

    input {
      width: 100%;
      text-align: center;
    }
  }
}
